<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString.AuditTrail" value="Data Source=C:\AuditTrailer.Debug.db;Version=3;" />
	<add key="gmail.username" value="arran.huxtable@gmail.com" />
	<add key="gmail.password" value="w1d3$pr3@d cu$t0dy" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>